body {
	text-align: center;
	font-weight: bold;
	background-color: #292834;
	color: white;
	overflow-x: hidden;
}

.ChatPreview:hover {
	background-color: #403e51;
	cursor: pointer;
}

p {
	margin: 0px;
}

.ReactionsOuterMe {
	position: relative;
	left: 100%;
	width: 0;
}

.ReactionsMe {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 210px;
	height: 30px;
	right: 260px;
	position: relative;
	background-color: #403e51;
	z-index: 1;
	border-radius: 15px;
}

.ReactionsOuterOther {
	position: relative;
	width: 0;
}

.ReactionsOther {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 210px;
	height: 30px;
	left: 50px;
	position: relative;
	background-color: #403e51;
	z-index: 1;
	border-radius: 15px;
}

.Reaction {
	width: 25px;
	height: 25px;
	margin: 2.5px;
}

.ReactionBackground {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0px;
	border-radius: 15px;
}

.MessageReaction {
	width: 20px;
	height: 20px;
	margin: 2.5px;
}

.MessageReactionBackground {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0px;
	border-radius: 12.5px;
}

.MessageReactionsOuterMe {
	width: fit-content;
	height: 30px;
	margin-left: auto;
	margin-right: 50px;
}

.MessageReactionsOuterOther {
	width: fit-content;
	height: 30px;
	margin-right: auto;
	margin-left: 50px;
}

.MessageReactionOuter {
	display: inline-block;
}

.MessageReactionInfo {
	display: flex;
	width: fit-content;
	text-align: center;
	background-color: #403e51;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	transform:translateX(-25%);
	z-index: 1;
	border-radius: 5px;
	transition-duration: 0.4s;
}

.ReactionBackground:hover {
	background-color: #57546d;
}


.MessageOuterMe {
	margin-left: auto;
	margin-right: 0;
	width: fit-content;
	display: flex;
}

.MessageOuterOther {
	margin-right: auto;
	margin-left: 0;
	width: fit-content;
	display: flex;
}

.MessageOtherBottom, .MessageOtherTop, .MessageOther, .MessageMe, .MessageMeTop, .MessageMeBottom {
	width: fit-content;
	height: fit-content;
	position: relative;
	background: #555;
	border-radius: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: end;
	display: inline-block;
	/* max-width: 85%; */
	
}

.MessageMeTop {
	/* float: right; */
	clear: both;
	margin-right: 10px;
	padding-right: 25px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 15px;
}

.MessageMeBottom {
	/* float: right; */
	clear: both;
	margin-right: 10px;
	padding-right: 25px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 15px;
}

.MessageMe {
	/* float: right; */
	clear: both;
	margin-right: 10px;
	padding-right: 25px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.MessageOther {
	clear: both;
	text-align: right;
	left: 10px;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #555;
}

.MessageOther:focus {
	left: 50px;
}

.MessageOtherTop {
	clear: both;
	text-align: left;
	left: 10px;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 15px;
}

.MessageOtherBottom {
	clear: both;
	text-align: left;
	left: 10px;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 15px;
}

.StatusTextMe {
	color: #555;
	font-size: 10px;
	clear: both;
	margin-right: 50px;
	text-align: right;
}

.StatusTextOther {
	color: #555;
	font-size: 10px;
	/* float: left; */
	clear: both;
	margin-left: 50px;
	text-align: left;
}

.AllMessages {
	overflow-y: scroll;
	height: 85vh;
}

.Banner {
	background-color: #353342;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}

.MessagePreview {
	text-align: left;
	position: relative;
	left: 5%;
	width: fit-content;
	margin-bottom: 0px;
}

.MessagePreviewBody {
	margin: 0px;
	text-align: left;
	position: relative;
	left: 5%;
	width: fit-content;
	color: rgb(123, 123, 123);
	font-weight: normal;
}

.ProfilePicture {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	/* clear: both; */
	display: inline-block;
	vertical-align: top;
}

.BigProfilePicture {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	position: relative;
	right: 150px;
	font-size: 250px;
	/* clear: both; */
}

.MessageUsername {
	font-size: 10px;
	position: relative;
	text-align: left;
	display: block;
	left: 50px;
	width: fit-content;
}

.BigProfilePictureImage {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	position: relative;
	font-size: 250px;
}

.ProfilePictureImage {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	/* clear: both; */
	display: inline-block;
	vertical-align: top;
}

.ProfilePictureText {
	margin-top: 0;
	text-align: center;
	height: 300px;
	line-height: 300px;
	display: block;
}

.MessageBoxInput {
	position: fixed;
	width: 95vw;
	left: 2.5vw;
	bottom: 5vh;
	background-color: rgb(81, 81, 81);
	border: rgb(31, 31, 31);
	height: 3vh;
	border-radius: 1.5vh;
	font-size: 1.5vh;
	color: rgb(255, 255, 255);
}

.SendMessageButton {
	position: fixed;
	left: 2.5vw;
	bottom: 5vh;
	width: 4vh;
	height: 4vh;
	right: 2vw;
	bottom: 4.5vh;
	text-align: center;
	border-radius: 2vh;
	background-color: rgb(104, 61, 212);
	border: 5px solid rgb(104, 61, 212);
	cursor: pointer;
}

.NewChatButton {
	position: fixed;
	bottom: 40px;
	right: 40px;
	height: 5vh;
	width: 5vh;
	border-radius: 8px;
	background-color: rgb(104, 61, 212);
	border: 3px solid rgb(104, 61, 212);
	text-align: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.NewChatButton:hover {
	background-color: rgb(134, 91, 244);
	border: 3px solid rgb(134, 91, 244);
	border-radius: 3px;
}

.SettingsButton {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 2.5vh;
	width: 2.5vh;
	border-radius: 8px;
	background-color: rgb(104, 61, 212);
	border: 3px solid rgb(104, 61, 212);
	text-align: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.SettingsButton:hover {
	background-color: rgb(134, 91, 244);
	border: 3px solid rgb(134, 91, 244);
	border-radius: 3px;
}

.SquareButton {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 2.5vh;
	width: 2.5vh;
	border-radius: 8px;
	background-color: rgb(104, 61, 212);
	border: 3px solid rgb(104, 61, 212);
	text-align: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.SquareButton:hover {
	background-color: rgb(134, 91, 244);
	border: 3px solid rgb(134, 91, 244);
	border-radius: 3px;
}

.ConnectedDevicesButton {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 2.5vh;
	width: 2.5vh;
	border-radius: 8px;
	background-color: rgb(104, 61, 212);
	border: 3px solid rgb(104, 61, 212);
	text-align: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.ConnectedDevicesButton:hover {
	background-color: rgb(134, 91, 244);
	border: 3px solid rgb(134, 91, 244);
	border-radius: 3px;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.TitleText {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 0vh;
	color: rgb(255, 255, 255);
	height: 200px;
}

.StyledInput {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: 3px solid #555;
	border-radius: 4px;
	height: 2vh;
	outline: none;
	font-size: 2vh;
	margin-right: 5px;
	margin-top: 1vh;
}

.StyledButton {
	background-color: rgb(104, 61, 212);
	color: white;
	border: 3px solid rgb(104, 61, 212);
	border-radius: 8px;
	width: 10vh;
	font-size: 2vh;
	transition-duration: 0.4s;
	cursor: pointer;
}

.StyledButton:hover {
	background-color: rgb(134, 91, 244);
	border: 3px solid rgb(134, 91, 244);
	border-radius: 3px;
}

.ErrorText {
	color: red;
	font-size: 1vh;
}

.GreenText {
	color: green;
	font-size: 1vh;
}

.AbsoluteTitle {
	width: 100%;
	background-color: #403e51;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}